* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #000;
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

a {
  color: #eee;
}

.grid-view {
  display: grid;
  grid-template-columns: 200px auto auto auto auto auto;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
}

@media only screen and (max-width: 760px) {
  header {
    display: grid;
    grid-template-columns: 200px auto auto auto auto auto;
    grid-template-areas:
      "logo na na na na search"
      "logo na na na na toggle"
      "logo nav nav nav nav nav";
    grid-area: header;
  }

  nav {
    grid-area: nav;
    /* background:rgba(78, 119, 186, 255); */
    /* border-radius: 10px; */
    /* border: 1px solid white; */
    text-align: right;
    width: 100%;
    display: none;
  }

  nav ul {
    /* border:1px solid white; */
    /* border-width:1px 0; */
    list-style: none;
    margin: 0;
    padding: 5px 32px 0px 0px;
    text-align: right;
  }

  nav li {
    display: inline;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    transition: all 500ms;
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
  }

  nav li:hover {
    background-color: #eee;
  }

  nav li:hover a {
    color: #333;
  }

  nav li a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-variant: normal;
    font-weight: normal;
    font-size: 1em;
    color: hsl(0, 0%, 255%);
    display: inline-block;
    padding: 10px;
  }

  #toggle {
    display: block;
    grid-area: toggle;
    text-align: right;
    padding-right: 32px;
    font-size: 24px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }

  footer {
    display: grid;
    grid-template-columns: 100%;
  }
}

@media only screen and (min-width: 761px) {
  header {
    display: grid;
    grid-template-columns: 200px auto auto auto auto auto;
    grid-template-areas:
      "logo na na na na search"
      "logo na na na na toggle"
      "logo nav nav nav nav nav";
    grid-area: header;
  }

  nav {
    grid-area: nav;
    /* background:rgba(78, 119, 186, 255); */
    /* border-radius: 10px; */
    /* border: 1px solid white; */
    text-align: right;
    width: 100%;
  }

  nav ul {
    /* border:1px solid white; */
    /* border-width:1px 0; */
    list-style: none;
    margin: 0;
    padding: 5px 32px 0px 0px;
    text-align: right;
  }

  nav li {
    display: inline;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    transition: all 500ms;
    cursor: pointer;
  }

  nav li:hover {
    background-color: #eee;
  }

  nav li:hover a {
    color: #333;
  }

  nav li a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-variant: normal;
    font-weight: normal;
    font-size: 1em;
    color: hsl(0, 0%, 255%);
    display: inline-block;
    padding: 10px;
  }

  #toggle {
    display: none;
    grid-area: toggle;
  }

  footer {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}

#space {
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  width: 100%;
  height: 100%;
  z-index: -10;
}

.logo {
  grid-area: logo;
}

.logo img {
  width: 180px;
}

.search {
  grid-area: search;
  padding: 10px 31px 10px 0px;
  text-align: right;
}

header h1 {
  grid-area: name;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* Carousel */

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.carousel__container {
  list-style: none;
  display: block;
  position: relative;
  width: 100%;
  height: 600px;
  transition: transform 250ms ease-in;
}

.carousel__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel__left, .carousel__right {
  position:absolute;
  top: 50%;
  font-size: 30px;
  line-height: 30px;
  border: none;
  color: #fff;
  height: 60px;
  width: 60px;
  cursor: pointer;
  background-color: rgb(0,0,0, .7);
}

.carousel__left:hover, .carousel__right:hover {
  background-color: rgb(0,0,0, .9);
}

.hidden {
  display: none;
}

.carousel__left {
  left: 0;
}

.carousel__right {
  right: 0;
}

/* .carousel ul li {
    display: block;
    position: absolute;
} */

/* .carousel__slide div img {
  list-style: none;
  width: calc(100% - 20px);
  display: block;
  position: relative;
}

.carousel__slide div h3 {
  display: block;
  position: relative;
  z-index: 10;
} */

@media only screen and (min-width: 761px) {
  .featured {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
      "featured-title featured-title featured-title"
      "featured-1 featured-2 featured-3";
    grid-area: featured;
  }
  .interactiveMap img {
    width: 80%;
    height: auto;
  }
    
  .pictures ul {
        padding: 0;
      display: grid;
      grid-template-columns: auto auto auto;
    }
    .pictures ul li {
        display: inline-block;
        list-style: none;
        vertical-align: middle;
        text-align: center;
    }
    
    .pictures img {
        width: calc(100% - 20px);
        height: auto;
    }
}

@media only screen and (max-width: 760px) {
  .featured {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas:
      "featured-title featured-title featured-title"
      "featured-1 featured-1 featured-1"
      "featured-2 featured-2 featured-2"
      "featured-3 featured-3 featured-3";
    grid-area: featured;
  }
  .interactiveMap img {
    width: 100%;
    height: auto;
  }
    
    .pictures ul {
        padding: 0;
    }
    .pictures ul li {
        list-style: none;
        margin-bottom: 16px;
    }
    
    .pictures img {
        width: 100%;
        height: auto;
    }
    
    .qrcode img {
        width: 80%;
    }
}

.featured img {
  height: auto;
  width: 100%;
  border-radius: 10px;
}

.featured h2 {
  grid-area: featured-title;
}

.featured div {
  margin: 10px;
  padding: 10px;
  border: solid 1px #eee;
  border-radius: 10px;
  transition: all 500ms;
}

.featured div:hover {
  background-color: rgba(100, 100, 100, 0.3);
}

.featured div.featured-1 {
  grid-area: featured-1;
}

.featured div.featured-2 {
  grid-area: featured-2;
}

.featured div.featured-3 {
  grid-area: featured-3;
}

.interactiveMap {
  text-align: center;
}
.interactiveMap h2 {
  text-align: left;
}

.titleWithSearch {
  grid-template-columns: 80% 20%;
  display: grid;
}

.titleWithSearch .searchBox {
  align-self: center;
  width: 100%;
}

.testemonial ul li q {
    font-size: 1.2em;
    font-style: italic;
}

.testemonial ul li p {
    font-size: 0.8em;
    color: #AAA;
}

.testemonial ul li {
    list-style: none;
    border-bottom: 1px solid;
    margin-bottom: 16px;
}

.qrcode img {
    background: white;
}

.qrcode p:last-child {
     text-align: center;
}

.testemonial ul li:last-child {
    border-bottom: none;
}

.testemonial ul li {
    list-style: none;
}

footer .contact ul li {
    list-style: none;
    line-height: 2em;
}

footer .social ul li {
    display: inline-block;
    margin-right: 16px;
}